.container {
    margin-left: 14px;
    margin-top: 14px;
    width: calc(100% - 34px);
    height: 42px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    margin-top: 20px;
}
.color {
    margin-right: 14px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.title {
    font-size: 20px;
    line-height: 35px;
}
.line {
    border: 1px solid #B1B1B1;
    width: 90vw;
    margin-top: 10px;
}
.detail {
    margin-top: 13px;
    font-size: 12px;
}
.time div:first-child {
    float: left;
    margin-left: 70px;
}
.time div:last-child {
    float: right;
    margin-right: 70px;
}
.item {
    margin-top: 15px;
}