.color {
    margin-right: 14px;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 21px;
    top: 124px;
}
.title {
    position: absolute;
    width: 185px;
    height: 56px;
    left: 76px;
    top: 111px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}