.container {
    width: 80vw;
    height: 100vw;
    z-index: 1111;
    position: absolute;
    top: 25vh;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 25px;
}

.top {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}

.icon {
    width: 20px;
    height: 20px;
}

.emojiBox {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    padding: 10px;
}

.emojiBoard {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.emojiBoard img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
