.container {
    width: calc(100% - 20px);
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 700;
    /*background: rgba(255, 118, 118, 0.28);*/
}
.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

