.container {
    width: calc(100% - 20px);
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /*background: rgba(255, 118, 118, 0.28);*/
}
.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.iconRight {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.title {
    text-align: center;
}