.container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}

.icon {
    width: 32px;
    height: 42px;
    cursor: pointer;
    margin-left: 50px;
    
}

.iconContainer {
    width: 184px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.iconContainer * {
    margin-left: 10px;
}
