.container {
    width: 100vw;
    height: 100vh;
}

.topNav {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.topNav h2 {
    font-weight: 700;
    font-size: 18px;
}

.icon {
    width: 24px;
    height: 24px;
}

.contentContainer {
    width: calc(100% - 20px);
    height: calc(100% - 72px);
    padding: 10px;
    overflow-y: scroll;
}

.todayContainer {
    padding: 10px;
    width: calc(100% - 20px);
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.dayContainer {
    padding: 10px;
    width: calc(100% - 20px);
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.dayContainer h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.todayContainer h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.alarmList {
    width: 100%;
}
