.container {
    width: 100vw;
    height: 100vh;
}

.contentContainer {
    width: 100vw;
    height: calc(100% - 52px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImgContainer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cameraIcon {
    position: absolute;
    right: 30%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.nickNameContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.introduceContainer {
    width: calc(100% - 40px);
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.introduceLabel {
    margin-bottom: 8px;
}

.profileImg {
    border-radius: 50%;
}

.nickNameInput {
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid gray;
}

.nickNameInput:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}

.introduceInput {
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid gray;
}
.introduceInput:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}

.introduceInput::placeholder {
    color: gray;
}
