.container {
    width: 100vw;
    height: 100vh;
}

.innerContainer {
    width: 100vw;
    height: calc(100% - 72px);
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #F5BF55;
}

.groupCardContainer {
    width: 90%;
    height: 186px;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    text-autospace: ideograph-space;
    border: none;
    background-color: yellow;
}

.groupCardContainer:focus {
    border: none;
    outline: none;
}

.categoryContainer {
    margin: 20px 0;
    width: 90%;
    height: 100px;
    background-color: #888888;
}

.memberContainer {
    margin: 20px 0;
    width: 90%;
    height: 100px;
    background-color: teal;
}

.font16_700 {
    font-size: 16px;
    font-weight: 700;
}
